@model IEnumerable<Shoes.Models.Urunler>

@{
    ViewBag.Title = ViewBag.KategoriAdi + " Ürün Listesi";
}

<div class="container mt-5">
    <h2 class="text-center custom-card-title">@ViewBag.KategoriAdi</h2>
    <hr>
    <div class="row">
        @foreach (var urun in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card custom-card custom-card-product h-100">
                    <img src="~/images/@urun.ResimAd" class="card-img-top" alt="@urun.UrunAd">
                    <div class="card-body custom-card-body">
                        <h3 class="custom-h3">@urun.UrunAd</h3>
                        <p><strong>Fiyat:</strong> @(urun.Fiyat.HasValue ? urun.Fiyat.Value.ToString("C") : "Fiyat bilgisi yok")</p>
                        <div class="btn-group" role="group" aria-label="Ürün İşlemleri">
                            <a href="@Url.Action("Detay", "Urun", new { id = urun.UrunId })" class="btn btn-info">Detay</a>
                            <a href="@Url.Action("Sil", "Urun", new { id = urun.UrunId })" class="btn btn-danger">Sil</a>
                            <a href="@Url.Action("Guncelle", "Urun", new { id = urun.UrunId })" class="btn btn-warning">Güncelle</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

